<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="Email">Alphabetical</option>
          <option value="UserId">Id</option>
        </select>
      </p>

    </div>

    <div class="col-md-10">
      <!--Body content-->

      <ul class="users">
        <li ng-repeat="user in $ctrl.users | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <a href="#!/users/{{user.Id}}" class="thumb"> </a>
          <a href="#!/users/{{user.Id}}">{{user.UserName}}</a>

        </li>
      </ul>

    </div>

  </div>
</div>
