<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="user in $ctrl.users | filter:$ctrl.query" class="thumbnail">
          <a href="#!/phones/{{user.id}}" class="thumb">
          </a>
          <a href="#!/users/{{user.id}}">{{user.name}}</a>

        </li>
      </ul>

    </div>
  </div>
</div>
