﻿<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>



@*<div ng-app="userApp">

    <div ng-view></div>

</div>



@section scripts {
    @Scripts.Render("~/Scripts/app/bower_components/angular/angular.js")
    @Scripts.Render("~/Scripts/app/bower_components/angular-resource/angular-resource.js")
    @Scripts.Render("~/Scripts/app/bower_components/angular-route/angular-route.js")

    @Scripts.Render("~/Scripts/app/app.module.js")
    @Scripts.Render("~/Scripts/app/app.config.js")

    @Scripts.Render("~/Scripts/app/core/core.module.js")
    @Scripts.Render("~/Scripts/app/core/user/user.module.js")
    @Scripts.Render("~/Scripts/app/core/user/user.service.js")

    @Scripts.Render("~/Scripts/app/user-list/user-list.module.js")
    @Scripts.Render("~/Scripts/app/user-list/user-list.component.js")

    @Scripts.Render("~/Scripts/app/user-detail/user-detail.module.js")
    @Scripts.Render("~/Scripts/app/user-list/user-detail.component.js")

}*@
